<div class="container text-center">
    <div class="d-flex flex-column justify-content-between">
        <div class="d-flex my-2">
            <div class="flex-fill mx-1 col-3">
                <button class="w-75" routerLink="/pokemon/my-pokemon" mat-raised-button>My Pokemon</button>
            </div>
            <div class="flex-fill mx-1 col-3">
                <button class="w-75" routerLink="/pokemon/find-pokemon" mat-raised-button>Find New Pokemon</button>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-fill mx-1 col-3">
                <button class="w-75" mat-raised-button>Fight!</button>
            </div>
            <div class="flex-fill mx-1 col-3">
                <button class="w-75" mat-raised-button>Something else</button>
            </div>
        </div>
    </div>
</div>