<div class="container text-center">
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex mb-3">
            <div class="flex-fill">
                <button mat-raised-button>My Pokemon</button>
            </div>
            <div class="flex-fill ml-2">
                <button mat-raised-button>Find New Pokemon</button>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-fill">
                <button mat-raised-button>Fight!</button>
            </div>
            <div class="flex-fill ml-2">
                <button mat-raised-button>Something else</button>
            </div>
        </div>
    </div>
</div>